### Create Random Data Frame

Indexes - lowercase alphabet  
Columns - short month names  
Values - random integer from '- 100' to '100'

Pandas  
Numpy  
Calendar

In [1]:
import pandas as pd
import numpy as np
import string
import calendar

In [2]:
pd.DataFrame(np.random.randint(-100,100,(6,10)),
               index=[i for i in string.ascii_lowercase[:6]],
               columns=[calendar.month_abbr[month_idx] for month_idx in range(10)])

       Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep
a -27  -62   58  -30   83  -58  -26  -97   15  -18
b  -8  -92  -97 -100   56   54   -2   91   42  -31
c  62  -31   74 -100  -62   49   76  -96   58   48
d -92  -63   51   49  -26  -78  -88   -7   78    8
e  86  -41  -59    2   66  -26   86   25   16   45
f  55   76  -66   -7   56    7   38   21   50   79